---
layout: default
---

<div class="container guide-container">
  <div class="row">
    <div class="span3">
      <div class="guide-nav">
        <ul class="nav nav-list">

          <li class="nav-header">User Guide</li>
          <li class="{% active introduction %}">
            <a href="/guide/introduction.html">Introduction</a>
          </li>
          <li class="{% active installation %}">
            <a href="/guide/installation.html">Installing LeadDyno</a>
          </li>
          <li class="{% active customizing-your-affiliate-homepage %}">
            <a href="/guide/customizing-your-affiliate-homepage.html">Customizing Your Affiliate Home Page</a>
          </li>
          <li class="{% active comp-plan %}">
            <a href="/guide/affiliate-compensation-plan.html">Creating Commission Plans</a>
          </li>
          <li class="{% active social-content %}">
            <a href="/guide/affiliate-social-media-marketing.html">Configuring Social Content</a>
          </li>
          <li class="{% active affiliate-management %}">
            <a href="/guide/affiliate-management.html">Managing Affiliates</a>
          </li>
          <li class="{% active affiliate-dashboard %}">
            <a href="/guide/affiliate-dashboard.html">The Affiliate Dashboard</a>
          </li>
          <li class="{% active affiliate-email %}">
            <a href="/guide/affiliate-marketing-email-follow-up.html">Automated Affiliate Emails</a>
          </li>
          <li class="{% active email-tracking %}">
            <a href="/guide/online-marketing-software-email-tracking.html">Online & Email Marketing</a>
          </li>
          <li class="{% active pay-per-click %}">
            <a href="/guide/pay-per-click-tracking-software.html">AdWords Effectiveness Tracking</a>
          </li>
          <li class="{% active follow-up %}">
            <a href="/guide/lead-follow-up-email-software.html">Viral Growth Email Follow Up</a>
          </li>
          <li class="{% active tools %}">
            <a href="/guide/tools.html">LeadDyno Affiliate Tools</a>
          </li>

          <li class="nav-header">Developer Resources</li>
          <li>
            <a href="http://developer.leaddyno.com/js-api.html">Javascript API</a>
            <a href="http://developer.leaddyno.com/rest-api.html">REST API</a>
          </li>

          <li class="nav-header">Integration Guides</li>
          <li class="{% active paypal-integration-guide %}">
            <a href="/guide/paypal-integration-guide.html">Paypal Integration</a>
          </li>
          <li class="{% active recurly-integration-guide %}">
            <a href="/guide/recurly-integration-guide.html">Recurly Integration</a>
          </li>
          <li class="{% active e-junkie-integration-guide %}">
            <a href="/guide/e-junkie-integration-guide.html">E-Junkie Integration</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="guide-content">
        {{content}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var isLocal = window.location.href.indexOf("file:") >= 0;
  var urlToLoadFrom = isLocal ? "http://localhost:3001/key_rep" : "https://app.leaddyno.com/key_rep";
  $.getScript(urlToLoadFrom);
</script>